<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding
            name="BasicHttpBinding_IExchangeService" />
        <binding
            name="BasicHttpBindingSecure_IExchangeService">
          <security
              mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint
          address="http://localhost:5001/ExchangeService.svc"
          binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IExchangeService"
          contract="Model.IExchangeService"
          name="BasicHttpBinding_IExchangeService" />
      <endpoint
          address="https://w798w81.comp.npo:5003/ExchangeService.svc"
          binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBindingSecure_IExchangeService"
          contract="Model.IExchangeService"
          name="BasicHttpBindingSecure_IExchangeService" />
    </client>
  </system.serviceModel>
</configuration>