<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEdiService" />
                <binding name="BasicHttpsBinding_IEdiService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5011/EdiService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEdiService" contract="EdiServiceReference.IEdiService"
                name="BasicHttpBinding_IEdiService" />
            <endpoint address="https://w798w81.comp.npo:5012/EdiService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IEdiService"
                contract="EdiServiceReference.IEdiService" name="BasicHttpsBinding_IEdiService" />
        </client>
    </system.serviceModel>
</configuration>