<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding
            name="BasicHttpBinding_IExchangeService"
            closeTimeout="00:01:00"
            openTimeout="00:01:00"
            receiveTimeout="00:10:00"
            sendTimeout="00:01:00"
            allowCookies="false"
            bypassProxyOnLocal="false"
            maxBufferPoolSize="524288"
            maxReceivedMessageSize="10485760"
            useDefaultWebProxy="true">
          <readerQuotas
              maxDepth="64"
              maxStringContentLength="2147483647"
              maxArrayLength="2147483647"
              maxBytesPerRead="4096"
              maxNameTableCharCount="16384" />
          <security>
            <transport
                realm="" />
          </security>
        </binding>
        <binding
            name="BasicHttpBindingSecure_IExchangeService"
            closeTimeout="00:01:00"
            openTimeout="00:01:00"
            receiveTimeout="00:10:00"
            sendTimeout="00:01:00"
            allowCookies="false"
            bypassProxyOnLocal="true"
            maxBufferPoolSize="40000000"
            maxReceivedMessageSize="40000000"
            useDefaultWebProxy="true">
          <readerQuotas
              maxDepth="2147483647"
              maxStringContentLength="2147483647"
              maxArrayLength="2147483647"
              maxBytesPerRead="2147483647"
              maxNameTableCharCount="2147483647" />
          <security
              mode="Transport">
            <transport
                clientCredentialType="None" />
          </security>
        </binding>
        <binding
            name="WSHttpBinding_IExchangeService"
            closeTimeout="00:01:00"
            openTimeout="00:01:00"
            receiveTimeout="00:10:00"
            sendTimeout="00:01:00"
            allowCookies="false"
            bypassProxyOnLocal="false"
            maxBufferPoolSize="20000000"
            maxReceivedMessageSize="20000000"
            useDefaultWebProxy="true">
          <readerQuotas
              maxArrayLength="20000000" />
          <security>
            <transport
                realm="" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint
          address=""
          binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IExchangeService"
          contract="Model.IExchangeService"
          name="WSHttpBinding_IExchangeService" />
      <endpoint
          address=""
          binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBindingSecure_IExchangeService"
          contract="Model.IExchangeService"
          name="WSHttpsBinding_IExchangeService" />
    </client>
  </system.serviceModel>
</configuration>
